<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Явно указываем, что не используем fullscreen intent -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"
        tools:node="remove"/>

    <application
        android:name="${applicationName}">
        <!-- твои сервисы/активности тут -->
    </application>

</manifest>
