<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745460234210-g0l9h6gm970jaarmmkt6kto8u4m1pta9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745460234210-g0l9h6gm970jaarmmkt6kto8u4m1pta9</string>
	<key>API_KEY</key>
	<string>AIzaSyCm-31XuDa7If_Q-dZSt0wUlaBv6_zEB2c</string>
	<key>GCM_SENDER_ID</key>
	<string>745460234210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daulettuken.blood.moon</string>
	<key>PROJECT_ID</key>
	<string>aq-toi</string>
	<key>STORAGE_BUCKET</key>
	<string>aq-toi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745460234210:ios:b065b0ee2f21888da86bbb</string>
	<key>DATABASE_URL</key>
	<string>https://aq-toi-default-rtdb.firebaseio.com</string>
</dict>
</plist>
